@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;400&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

.navbar {
  padding-bottom: 0;
  padding-top: 0;
}

.bg-light {
  background-color: #cd2672 !important;
}

.logo {
  width: 35%;
  height: 35%;
}

.pointer:hover {
  cursor: pointer;
}

.btn-category {
  background-color: rgba(255, 255, 255, 0.842);
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.35s;
}

.btn-category:hover {
  background-color: #f7afcf;
}

.btn-filter:hover {
  background-color: #f7afcf;
}

.btn-filter {
  background-color: #e7428c;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.35s;
  border-radius: 0.3rem;
}

.gray-text {
  color: rgba(128, 128, 128, 0.89);
}

.spinner-border {
  width: 6rem;
  height: 6rem;
}

.spinner-color {
  color: #f374ad !important;
}

.jumbotron {
  padding-bottom: 10rem !important;
  padding-top: 10rem !important;
  background-color: white !important;
}

.price {
  font-weight: bold;
  font-size: 0.9rem;
  font-family: Lato;
}

.paginator-number {
  font-family: Lato;
  color: #cd2672 !important;
}

.paginator-number-muted {
  font-family: Lato;
  color: #747474 !important;
}
